*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    background-color: #141414;
    color:#ffffff;
    font-family: 'Inter',sans-serif;
    font-size: 14px;
}

p{
    margin-bottom: 20px;

}

span{
    color:#c5f82a;
}

ul{
    display: grid;
    list-style: none;
    text-align: center;
    font-weight: 600;
    width: 100%;
    gap: 15px;
}

li{
    background-color:#333333;
    padding-block: 10px;
    border-radius: 5px;
}

h1{
    margin-block: 25px 5px;
    font-size: 1.4rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    max-inline-size: 330px;
    margin:30px auto;
    background-color:#1f1f1f;
    text-align: center;
    align-items: center;
    padding: 30px;
    border-radius: 15px;

}

.wrapper img{
    max-width: 100%;
    border-radius: 200px;
    width: 90px;
    height: 90px;
}

li:hover{
    color:#c5f82a;
    background-color:#636262;
    cursor: pointer;
}

li:focus{
    color:#c5f82a;
    background-color:#636262;

}